/* ==========================================================================

[ SIGNAL MEDIA LTD ]

Briefing CSS stylesheet (briefing.css)
Version: 2.0;
Author: Samir Moussa;
Email: samir.moussa@signal.uk.com, smoussa@hotmail.co.uk;

	- Description

	This stylesheet is used on the briefing page. Default and general
	styles are loaded from general.css. Most of the styles in this document
	concern the main image banner and filter modules.
	
	- Contents

	* Typography
	* Side filter modules
	* Media queries

========================================================================== */


/* ==========================================================================
   Typography
========================================================================== */

.banner .glyphicon {
  font-size: 14px;
}


/* ==========================================================================
    Side & Modules
========================================================================== */

.module.filter .option.group-heading .title {
	text-transform: none;
}

.module .group-heading.filtered .glyphicon-remove {
	position: relative;
	float: right;
	top: 0;
	left: 0;
	margin: 0;
	padding: 2px;
	color: #7f8d98;
}

.module .group-heading.filtered .glyphicon-remove:hover {
	color: #4C5E6D;
}


/* ==========================================================================
   Media Queries
========================================================================== */

/*
	iPad (Portrait)
*/

@media only screen and (max-width: 768px), (max-height: 560px) {

	/*
		Page navigation
	*/

	.page-nav .search-btn {
		display: none;
	}

	/*
		Banner
	*/

	#banner {
		height: 200px;
	}

	#banner .image-info {
		display: none;
	}

	/*
		Filter panel selector
	*/

	.mobile-nav-btn .glyphicon-remove {
		position: relative;
		top: -15px;
		right: -20px;
		float: right;
		padding: 15px;
		color: #4C5E6D;
	}

	.mobile-nav-btn .glyphicon-remove:hover {
		color: #7f8d98;
	}

	/*
		Filter module
	*/

	.module.filter {
		display: none;
	}

}