/* ==========================================================================

[ SIGNAL MEDIA LTD ]

Discovery Pages CSS Stylesheet (discovery.css)
Version: 2.0;
Author: Samir Moussa;
Email: samir.moussa@signal.uk.com, smoussa@hotmail.co.uk;

	- Description

	This stylesheet is used across all discovery pages. It sets structure to
	the page navigation and lists of topics and sectors.
	
	- Contents

	* Effects
	* Typography
	* Header
	* Navigation
	* List of sectors and topics
	* Featured topic banner
	* Fixed banner
	* Main feed
	* Side panels
	* Side modules
	* Media queries

========================================================================== */


/* ==========================================================================
   Effects
========================================================================== */

#content.opened .openable {
	-webkit-transform: translateY(175px);
	-moz-transform: translateY(175px);
	-o-transform: translateY(175px);
	-ms-transform: translateY(175px);
	transform: translateY(175px);
}

#content.pushed.opened .openable {
	-webkit-transform: translate3d(250px, 175px, 0);
	-moz-transform: translate3d(250px, 175px, 0);
	-o-transform: translate3d(250px, 175px, 0);
	-ms-transform: translate3d(250px, 175px, 0);
	transform: translate3d(250px, 175px, 0);
}

/* Icon rotation */
.navigation h2 *,
.list a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}

.feed, /* DEMO */
.list {
	-webkit-transition: opacity .40s ease-in-out;
	-moz-transition: opacity .40s ease-in-out;
	-o-transition: opacity .40s ease-in-out;
	-ms-transition: opacity .40s ease-in-out;
	transition: opacity .40s ease-in-out;
}

.list {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
}

/*
	More Duration Times
*/

.navigation h2 * {
	-webkit-transition-duration: .20s;
	-moz-transition-duration: .20s;
	-o-transition-duration: .20s;
	-ms-transition-duration: .20s;
	transition-duration: .20s;
}


/* ==========================================================================
   Typography
========================================================================== */

.featured,
#banner .name {
	font-family: 'Gotham A', 'Gotham B';
  	font-weight: 300;
}

.featured .view,
.list .title,
#banner .name {
	font-weight: 400;
}

#banner-fixed {
	font-weight: 500;
}


/*
	Font Sizes
*/

#banner .name {
	font-size: 28px;
}

.featured .title {
	font-size: 22px;
}

h2 {
	font-size: 17px;
}

.navigation .type,
.list .title,
.featured .desc,
.featured .view,
#banner-fixed {
	font-size: 12px;
}

.list li a,
.featured .heading {
	font-size: 11px;
}

/*
	Colours
*/

a,
h1,
h2,
.glyphicon,
.list .title {
	color: #000000;
}

.navigation .type {
	color: #7f8d98;
}

.navigation .category.grey > *,
article .meta.more .light {
	color: #cccccc;
}

.featured,
.featured a,
#banner-fixed a,
#banner-fixed .glyphicon {
	color: #ffffff;
}

/*
	Word & Letter Spacing
*/

h2,
.list {
	letter-spacing: 0;
}


/* ==========================================================================
    Structure
========================================================================== */

.navigation {
	max-width: 969px;
	padding-left: 8%;
	padding-right: 8%;
}

/* ==========================================================================
   	Header
========================================================================== */

.page-nav a {
	color: #000000;
}

.header {
	padding-top: 22px;
	margin: 0 auto;
}

.header h1 {
	padding-top: 36px;
}


/* ==========================================================================
   	Navigation
========================================================================== */

.navigation {
	margin: 45px auto;
}

.navigation .category {
	position: relative;
	display: inline-block;
}

.navigation .category:first-child h2 {
	margin-left: 0;
}

.navigation .category:nth-child(3) {
	margin-right: 0;
}

.navigation h2 {
	position: relative;
	padding: 0;
	margin: 0 25px;
}

.navigation h2 .text {
	display: inline-block;
	position: relative;
	left: -20px;
	padding: 8px 0;
	margin: 0 20px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.navigation h2 .text:hover {
	border-bottom: 1px solid #333333;
}

.navigation .category.grey h2 .text:hover {
	border-bottom: 1px solid #dddddd;
}

.navigation .category.black h2 .arrow-right,
.navigation .category.grey h2 .arrow-right {
	border-color: #cccccc;
}

.navigation .category .arrow-right {
	top: 15px;
	height: 10px;
	width: 10px;
}


/* ==========================================================================
    Sector & Topic Lists
========================================================================== */

.lists {
	position: relative;
	top: -13px;
	max-width: 969px;
	padding-left: 8%;
	padding-right: 8%;
	margin: 0 auto;
}

.list {
	position: absolute;
	opacity: 0;
	z-index: 0;
}

#content.opened .list.show {
	opacity: 1;
	z-index: 1;
}

.list ul {
	float: left;
	padding-right: 35px;
}

.list .title {
	display: block;
	margin-bottom: 16px;
}

.list li {
	display: block;
}

.list a {
	display: inline-block;
	padding: 2px 0;
	border-bottom: 1px solid transparent;
}

.list a:hover {
	border-bottom: 1px solid #000000;
}


/* ==========================================================================
    Featured Topic Banner
========================================================================== */

.banner {
	position: relative;
	height: 350px;
	z-index: 3;
}

#banner {
	margin-top: 24px;
}

.topic #banner {
	cursor: pointer;
}

.banner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.banner:hover .banner-overlay {
	background-color: rgba(255, 255, 255, 0.05);
}

/* Featured topic text */
#banner .container {
	height: inherit;
	margin: 0 auto;
}

/*
	Name of company/person
*/
#banner .name {
	margin-bottom: 5px;
}

/*
	Featured
*/

.featured {
	position:relative;
	top: 50%;
	float: left;
	width: 350px;
	height: 120px;
	margin-top: -60px;
}

.featured > * {
	float: left;
	clear: left;
}

.featured .heading {
	text-transform: uppercase;
}

.featured .title {
	padding: 8px 0;
}

.featured .desc {
	line-height: 13px;
}

.featured .view {
	position: relative;
	margin-top: 16px;
	padding-left: 20px;
}

.featured .view .arrow-right {
	border-color: #ffffff;
	left: -4px;
	top: 2px;
	width: 10px;
	height: 10px;
}


/* ==========================================================================
    Fixed Banner
========================================================================== */

#banner-fixed {
	height: 34px;
	margin-top: 0;
	z-index: -1;
	padding-top: 18px;
}

#nav-fixed li {
	position: relative;
	margin-right: 30px;
}

#nav-fixed .arrow-right {
	top: 4px;
	right: -19px;
	width: 6px;
	height: 6px;
	border-color: #ffffff;
}

/* Follow button */
.follow {
	position: relative;
	top: -2px;
	float: right;
}

.follow .glyphicon {
	position: relative;
	top: 1px;
	padding-right: 8px;
}

.follow.following .glyphicon-plus-sign:before {
	content: "\e084";
}


/* ==========================================================================
    Main Feed
========================================================================== */

article {
	max-width: none;
}

article .image {
	position: relative;
	display: block;
	margin-bottom: 26px;
}

article .image img {
	width: 100%;
	/* DEMO */
	-webkit-transition: all .40s ease-in-out;
	-moz-transition: all .40s ease-in-out;
	-o-transition: all .40s ease-in-out;
	-ms-transition: all .40s ease-in-out;
	transition: all .40s ease-in-out;
}


/* ==========================================================================
    Side panels
========================================================================== */

.panel li:first-child a {
	padding-top: 32px;
	padding-bottom: 31px;
}


/* ==========================================================================
    Side Modules
========================================================================== */

.module.expandable .module-option.group-heading .title {
  text-transform: uppercase;
}



/* ==========================================================================
    Media Queries
========================================================================== */

/*
	Tablet Landscape
*/

@media only screen and (max-width: 1020px) {

	/*
		Lists
	*/

	.lists {
		display: none;
	}

	/* If the navigation menu is open, close it for tablet/mobile */
	#content.opened .openable {
		-webkit-transform:  translateY(0);
		-moz-transform:     translateY(0);
		-o-transform:       translateY(0);
		-ms-transform:      translateY(0);
		transform:          translateY(0);
	}


}

/*
	Tablet Portrait
*/

@media only screen and (max-width: 768px), (max-height: 560px) {

	/*
		Navigation
	*/

	.navigation a {
		font-size: 15px;
	}

	.navigation .category {
		display: none;
	}

	/*
		Banner
	*/

	#banner .name {
		font-size: 18px;
		margin-bottom: 2px;
	}

	#banner .subtitle {
	    font-size: 10px;
	}

	/*
		Mobile button
	*/

	.mobile-nav-btn {
		margin: 0;
	}

}


/*
	Mobile
*/

@media only screen and (max-width: 560px), (max-height: 500px) {

	.header {
		width: 100%;
		max-width: none;
		margin: 0;
	}

	/*
		Navigation
	*/

	.navigation {
		width: 100%;
		padding: 0;
		margin-bottom: 0;
		margin-top: 25px;
	}

	/*
		Banner
	*/

	#banner {
		margin-top: 0;
		height: 200px;
	}

}