/* ==========================================================================

[ SIGNAL MEDIA LTD ]

Login Page CSS Stylesheet (login.css)
Version: 2.0;
Author: Samir Moussa;
Email: samir.moussa@signal.uk.com, smoussa@hotmail.co.uk;

	- Description

	This stylesheet is used on the login page.
	
	- Contents

	* Typography
	* Layout
	* Media queries

========================================================================== */


/* ==========================================================================
   Typography
========================================================================== */

.login {
	font-size: 13px;
}

.login .help-text {
	color: #ffffff;
}


/* ==========================================================================
   Layout
========================================================================== */

.login .container {
	width: 100%;
	height: 100%;
	min-height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.login .inner {
	width: 261px;
	padding-top: 10%;
    margin: 0 auto;
}

.login .inner * {
	display: block;
}

.login .logo {
	width: 88px;
	height: 17px;
    margin: 0 auto 70px auto;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
	width: inherit;
	padding: 15px 0;
    margin: 0 auto;
}

.login input[type="password"] {
	margin-top: 10px;
}

.login input[type="submit"] {
	margin: 20px 0 40px 0;
}

.login .help-text {
	text-align: center;
}

.login .error {
	margin-bottom: 30px;
}


/* ==========================================================================
   Media Queries
========================================================================== */

/*
	Mobile
*/

@media only screen and (max-width: 480px), (max-height: 500px) {

	.login .inner {
		width: 80%;
	}

}